.Nav {
    height: 8rem;
    width: 100%;
    padding: var(--spacing-4) var(--spacing-8);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.List {
    display: none;
}
